<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>239016975330-m6je5q2llivr9secje3n6b7icid90k7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239016975330-m6je5q2llivr9secje3n6b7icid90k7e</string>
	<key>API_KEY</key>
	<string>AIzaSyBvUb3891dhQ7Gf6fI227Ptgw7tiBM3XNo</string>
	<key>GCM_SENDER_ID</key>
	<string>239016975330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sarin.CurrencyExchangeCalculator</string>
	<key>PROJECT_ID</key>
	<string>currencyexchangecalculat-dfea5</string>
	<key>STORAGE_BUCKET</key>
	<string>currencyexchangecalculat-dfea5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239016975330:ios:b36507637b56da50</string>
	<key>DATABASE_URL</key>
	<string>https://currencyexchangecalculat-dfea5.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1857654179007774~2348616610</string>
</dict>
</plist>